templates/committee/index.html
<div id="team" class="uk-margin-medium-bottom"></div><div class="section pad uk-margin-remove"><div class="page-wrapper"><h1 class="committee uk-text-center">Committee</h1>{% for team in craft.entries.section('committee').all() %}<div class="col col--1-of-4"><div class="team-cont">{% set image = team.committeeImage.first() %}
{% if image %}<div class="team-img-cont-small"><img src="{{image.url('teamImage')}}" alt="team member"/></div>{% endif %}
{% if team.title | length %}             <h1>{{team.title}}</h1>{% endif %}
{% if team.position | length %}<h2>{{ team.position }}</h2>{% endif %}<a href="{{ team.linkedInUrl }}" class="linkedin"><i class="fab fa-linkedin-in"></i></a><a href="{{team.url}}">View Profile</a></div></div>{% endfor %}</div></div>

templates/committee/index.jade
#team.uk-margin-medium-bottom
.section.pad.uk-margin-remove
    .page-wrapper
        h1.committee.uk-text-center Committee

        |{% for team in craft.entries.section('committee').all() %}

        .col.col--1-of-4
            .team-cont
                | {% set image = team.committeeImage.first() %}
                | {% if image %}
                .team-img-cont-small
                    img(src="{{image.url('teamImage')}}", alt='team member')
                | {% endif %}
                | {% if team.title | length %}             
                h1 {{team.title}}
                | {% endif %}
                | {% if team.position | length %}
                h2 {{ team.position }}
                | {% endif %}
                a.linkedin(href="{{ team.linkedInUrl }}")
                    i.fab.fa-linkedin-in
                a(href="{{team.url}}") View Profile

        |{% endfor %}
