templates/_includes/_gallery.jade
.section.pad.uk-margin-remove
    .page-wrapper.head-pad
        .heading
            i.far.fa-image.fa-2x.text-purple
            h2.big-title
                span gallery
        .gallery-prev.uk-text-center       
            |{% for galleryPreview in craft.entries.section('gallery').limit(8).all() %}
            a(href="{{siteUrl}}gallery")
                | {% for asset in galleryPreview.images.limit(1).all() %}
                img.thumb(src="{{asset.url('galleryThumb')}}", alt='thumbnail')
            |{% endfor %}
            |{% endfor %}

templates/_includes/_gallery.html
<div class="section pad uk-margin-remove"><div class="page-wrapper head-pad"><div class="heading"><i class="far fa-image fa-2x text-purple"></i><h2 class="big-title"><span>gallery</span></h2></div><div class="gallery-prev uk-text-center">      
{% for galleryPreview in craft.entries.section('gallery').limit(8).all() %}<a href="{{siteUrl}}gallery">{% for asset in galleryPreview.images.limit(1).all() %}<img src="{{asset.url('galleryThumb')}}" alt="thumbnail" class="thumb"/></a>{% endfor %}
{% endfor %}</div></div></div>
