templates/_includes/_nav.jade
nav.main-nav
    .main-nav-cont
        .logo-cont
            | {% if entry.slug == "homepage" %}
            a.link(href="#home")
                img(src="{{siteUrl}}build/images/assets/logo.svg", alt='logo').logo
            | {% else %}
            a(href="{{siteUrl}}")
                img(src="{{siteUrl}}build/images/assets/logo.svg", alt='logo').logo
            | {% endif %}

        .menu-btn#btn.uk-padding-remove
            .hamburger.hamburger--collapse
                .hamburger-box
                    .hamburger-inner

        .nav-cont.uk-transform-origin-top-center.uk-animation-scale-up.uk-animation-fast
            ul
                li
                    | {% if entry.slug == "homepage" %}
                    a.link(href="#membership") membership
                    | {% else %}
                    a(href="{{siteUrl}}#membership") membership
                    | {% endif %}
                li
                    a(href="{{siteUrl}}gallery") gallery
                li
                    a(href="{{siteUrl}}events") events
                li
                    | {% if entry.slug == "homepage" %}
                    a.link(href="#team") committee
                    | {% else %}
                    a(href="{{siteUrl}}#team") committee
                    | {% endif %}
                li
                    a(href="{{siteUrl}}news") news
                li
                    a(href="{{siteUrl}}contact") contact
                li
                    a(href="{{siteUrl}}members") members area

                | {% if craft.session.isLoggedIn %}
                li
                    a.text-lower.text-dark-purple(href="{{ logoutUrl }}") Logout
                        i.nav-icon.uk-margin-small-left.fas.fa-2x.fa-sign-out-alt
                | {% else %}
                li
                    a.text-lower.text-dark-purple(href="{{ loginUrl }}") Login
                        i.nav-icon.uk-margin-small-left.fas.fa-2x.fa-sign-in-alt
                | {% endif %}

templates/_includes/_nav.html
<nav class="main-nav"><div class="main-nav-cont"><div class="logo-cont">{% if entry.slug == "homepage" %}<a href="#home" class="link"><img src="{{siteUrl}}build/images/assets/logo.svg" alt="logo" class="logo"/></a>{% else %}<a href="{{siteUrl}}"><img src="{{siteUrl}}build/images/assets/logo.svg" alt="logo" class="logo"/></a>{% endif %}</div><div id="btn" class="menu-btn uk-padding-remove"><div class="hamburger hamburger--collapse"><div class="hamburger-box"><div class="hamburger-inner"></div></div></div></div><div class="nav-cont uk-transform-origin-top-center uk-animation-scale-up uk-animation-fast"><ul><li>{% if entry.slug == "homepage" %}<a href="#membership" class="link">membership</a>{% else %}<a href="{{siteUrl}}#membership">membership</a>{% endif %}</li><li><a href="{{siteUrl}}gallery">gallery</a></li><li><a href="{{siteUrl}}events">events</a></li><li>{% if entry.slug == "homepage" %}<a href="#team" class="link">committee</a>{% else %}<a href="{{siteUrl}}#team">committee</a>{% endif %}</li><li><a href="{{siteUrl}}news">news</a></li><li><a href="{{siteUrl}}contact">contact</a></li><li><a href="{{siteUrl}}members">members area</a></li>{% if craft.session.isLoggedIn %}<li><a href="{{ logoutUrl }}" class="text-lower text-dark-purple">Logout<i class="nav-icon uk-margin-small-left fas fa-2x fa-sign-out-alt"></i></a></li>{% else %}<li><a href="{{ loginUrl }}" class="text-lower text-dark-purple">Login<i class="nav-icon uk-margin-small-left fas fa-2x fa-sign-in-alt"></i></a></li>{% endif %}</ul></div></div></nav>
