templates/_includes/_next-event.jade
.section.bg-gray.box-shadow
    .overlay
        .one-cont
            .heading.page-wrapper.uk-text-center
                h2.text-white.text-shadow Our next event
                {% set events = craft.entries.section("events").orderBy('eventDate asc').all() %}
                {% for event in events if event.eventDate > now|date_modify("-1 day") %}
                {% if loop.first %}
                .event.next-event
                    h2 {{ event.title }}
                    p Date: {{ event.eventDate|date('full') }}
                    p
                        span Venue:
                        | {{ event.venue }}
                    |{% if event.details|length %}
                    p
                        span Details:
                        | {{ event.details }}
                    |{% endif %}                                 
                    p
                        span Speaker:
                        | {{ event.speaker }} 
                    p
                        span Time:
                        | {{ event.time }} 
                {% endif %}
                {% endfor %}
                .row
                    .col.col--1-of-2
                        a.btn-link(href="mailto:chairman@jado.je")
                            button.btn.btn-left register
                    .col.col--1-of-2
                        a.btn-link(href="{{ siteUrl }}events")
                            button.btn.purple-bg.btn-right view more events

templates/_includes/_next-event.html
<div class="section bg-gray box-shadow"><div class="overlay"><div class="one-cont"><div class="heading page-wrapper uk-text-center"><h2 class="text-white text-shadow">Our next event</h2>{% set events = craft.entries.section("events").orderBy('eventDate asc').all() %}
{% for event in events if event.eventDate > now|date_modify("-1 day") %}
{% if loop.first %}<div class="event next-event"><h2>{{ event.title }}</h2><p>Date: {{ event.eventDate|date('full') }}</p><p><span>Venue:</span>{{ event.venue }}</p>{% if event.details|length %}<p><span>Details:</span>{{ event.details }}</p>{% endif %}                                 <p><span>Speaker:</span>{{ event.speaker }} </p><p><span>Time:</span>{{ event.time }} </p></div>{% endif %}
{% endfor %}<div class="row"><div class="col col--1-of-2"><a href="mailto:chairman@jado.je" class="btn-link"><button class="btn btn-left">register</button></a></div><div class="col col--1-of-2"><a href="{{ siteUrl }}events" class="btn-link"><button class="btn purple-bg btn-right">view more events</button></a></div></div></div></div></div></div>
