templates/_includes/_next-eventtest.jade
.section.bg-gray.box-shadow
    .overlay
        .one-cont
            .heading.page-wrapper.uk-text-center
                h2.text-white.text-shadow Our next event
                //- |{% for event in craft.entries.section('events').all()|sort  %}
                //- |{% if event.eventDate|date('Y-m-d') >  "now"|date('Y-m-d') %}
                |{% for event in craft.entries.section('events').all() if event.eventDate|date('Y-m-d') >  "now"|date('Y-m-d') %}
                //- {% if loop.first %}
                .event.next-event
                    h2 {{ event.title }}
                    p Date: {{ event.eventDate|date('full') }}
                    p
                        span Venue:
                        | {{ event.venue }}
                    |{% if event.details|length %}
                    p
                        span Details:
                        | {{ event.details }}
                    |{% endif %}                                 
                    p
                        span Speaker:
                        | {{ event.speaker }} 
                    p
                        span Time:
                        | {{ event.time }} 
                //- {% endif %}
                |{% endfor %}                
                .row
                    .col.col--1-of-2
                        button.btn.btn-left join us
                    .col.col--1-of-2
                        button.btn.purple-bg.btn-right member log in

templates/_includes/_next-eventtest.html
<div class="section bg-gray box-shadow"><div class="overlay"><div class="one-cont"><div class="heading page-wrapper uk-text-center"><h2 class="text-white text-shadow">Our next event</h2>{% for event in craft.entries.section('events').all() if event.eventDate|date('Y-m-d') >  "now"|date('Y-m-d') %}<div class="event next-event"><h2>{{ event.title }}</h2><p>Date: {{ event.eventDate|date('full') }}</p><p><span>Venue:</span>{{ event.venue }}</p>{% if event.details|length %}<p><span>Details:</span>{{ event.details }}</p>{% endif %}                                 <p><span>Speaker:</span>{{ event.speaker }} </p><p><span>Time:</span>{{ event.time }} </p></div>{% endfor %}                <div class="row"><div class="col col--1-of-2"><button class="btn btn-left">join us</button></div><div class="col col--1-of-2"><button class="btn purple-bg btn-right">member log in</button></div></div></div></div></div></div>
