templates/_includes/_whatwedo.jade
.section.dark.pad
    .heading.page-wrapper

        h2.big-title
            span.dark {{ block.headingMain }}
        .uk-margin-auto.subtitle {{ block.textOne }}
        .row.three-col
            .col.col--1-of-3
                h2.wwd-subtitle.text-white.uk-text-center {{ block.leftHeading }}
                i.far.fa-envelope.fa-5x.text-white
                | {{ block.leftText }}
            .col.col--1-of-3
                h2.wwd-subtitle.text-white.uk-text-center {{ block.midHeading }}
                i.far.fa-calendar-alt.fa-5x.text-white
                | {{ block.midText }}
            .col.col--1-of-3
                h2.wwd-subtitle.text-white.uk-text-center {{ block.rightHeading }}
                i.far.fa-chart-bar.fa-5x.text-white
                | {{ block.rightText }}
    .text

templates/_includes/_whatwedo.html
<div class="section dark pad"><div class="heading page-wrapper"><h2 class="big-title"><span class="dark">{{ block.headingMain }}</span></h2><div class="uk-margin-auto subtitle">{{ block.textOne }}</div><div class="row three-col"><div class="col col--1-of-3"><h2 class="wwd-subtitle text-white uk-text-center">{{ block.leftHeading }}</h2><i class="far fa-envelope fa-5x text-white"></i>{{ block.leftText }}</div><div class="col col--1-of-3"><h2 class="wwd-subtitle text-white uk-text-center">{{ block.midHeading }}</h2><i class="far fa-calendar-alt fa-5x text-white"></i>{{ block.midText }}</div><div class="col col--1-of-3"><h2 class="wwd-subtitle text-white uk-text-center">{{ block.rightHeading }}</h2><i class="far fa-chart-bar fa-5x text-white"></i>{{ block.rightText }}</div></div></div><div class="text"></div></div>
