templates/form-complete/contactForm.html
{% extends '_layout' %}
{% block content %}<div class="page-wrapper head-pad single-pad push-footer team-pad"><div class="gallery-prev">{% for entry in craft.entries.section('formComplete').all() %}<h1 class="page-title-pad uk-text-center">{{ entry.heading }}</h1><div class="uk-text-center">{{ entry.description }}</div>{% endfor %}</div></div>{% endblock %}

templates/form-complete/contactForm.jade
| {% extends '_layout' %}
| {% block content %}

.page-wrapper.head-pad.single-pad.push-footer.team-pad
    .gallery-prev
        | {% for entry in craft.entries.section('formComplete').all() %}
        h1.page-title-pad.uk-text-center {{ entry.heading }}
        .uk-text-center {{ entry.description }}
        | {% endfor %}
| {% endblock %}
