templates/news/entry.jade
| {% extends '_layout' %}
| {% block content %}

.page-wrapper.head-pad-big.single-pad.push-footer
    .gallery-prev
        h1.page-title-news.uk-text-center {{ entry.title }}
        p {{ entry.fullNews }}
        | {% set image = entry.newsImage.first() %}
        | {% if image %}
        .uk-text-center
            .news-img-full
                img(src=' {{image.url}}' , alt='news image large')
        | {% endif %}
        
| {% endblock %}

templates/news/entry.html
{% extends '_layout' %}
{% block content %}<div class="page-wrapper head-pad-big single-pad push-footer"><div class="gallery-prev"><h1 class="page-title-news uk-text-center">{{ entry.title }}</h1><p>{{ entry.fullNews }}</p>{% set image = entry.newsImage.first() %}
{% if image %}<div class="uk-text-center"><div class="news-img-full"><img src=" {{image.url}}" alt="news image large"/></div></div>{% endif %}</div></div>{% endblock %}
