templates/news/index.html
{% extends '_layout' %}
{% block content %}
{% for news in craft.entries.section('newsList').all() %}
{% for pic in news.titleImage.limit(1).all() %}<div style="background-image: url({{ pic.url }});" class="main-header backgroundimage gallery-header sub-header"><div class="overlay"><div class="hero-text"><h1 class="text-white no-desc-title">{{ news.pageTitle | default ("news") }}</h1></div></div></div>{% endfor %}
{% endfor %}<div class="page-wrapper head-pad single-pad push-footer"><div class="gallery-prev uk-text-center"><h1 class="page-title">News</h1><div class="events-cont">{% for news in craft.entries.section('news').orderBy('postDate desc').all() %}        <div class="event news flex">{% set image = news.newsImage.first() %}
{% if image %}<div class="img-cont"><img src=" {{image.url}}" alt="news image"/></div>{% endif %}<div class="text-cont">{% if news.title | length %}<h2>{{ news.title }}</h2>{% endif %}
{% if news.preview | length %}<p>{{ news.preview }}</p>{% endif %}
{% if news.fullNews | length %}<div class="uk-text-right"><a href="{{news.url}}"><button class="btn purple-bg btn-right btn-small">Read more..</button></a></div>{% endif %}
{% if news.document | length %}
{% set document = news.document.first() %}<div class="doc-cont uk-text-center"><i class="far fa-file fa-3x text-purple nav-icon uk-margin-small-right"></i><a href="{{ document.Url }}">{{document.title}}</a></div>{% endif %}</div></div>{% endfor %}</div></div></div>{% endblock %}

templates/news/index.jade
|{% extends '_layout' %}
|{% block content %}

| {% for news in craft.entries.section('newsList').all() %}

| {% for pic in news.titleImage.limit(1).all() %}
.main-header.backgroundimage.gallery-header.sub-header(style='background-image: url({{ pic.url }});')
  .overlay
      .hero-text
        h1.text-white.no-desc-title {{ news.pageTitle | default ("news") }}
| {% endfor %}

| {% endfor %}

.page-wrapper.head-pad.single-pad.push-footer
    .gallery-prev.uk-text-center
        h1.page-title News
        .events-cont
                |{% for news in craft.entries.section('news').orderBy('postDate desc').all() %}        
                .event.news.flex
                    |{% set image = news.newsImage.first() %}
                    |{% if image %}
                    .img-cont
                        img(src=' {{image.url}}' , alt='news image')
                    |{% endif %}
                    .text-cont
                        | {% if news.title | length %}
                        h2 {{ news.title }}
                        | {% endif %}
                        | {% if news.preview | length %}
                        p {{ news.preview }}
                        | {% endif %}
                        | {% if news.fullNews | length %}
                        .uk-text-right
                            a(href="{{news.url}}")
                                button.btn.purple-bg.btn-right.btn-small Read more..
                        | {% endif %}
                        |{% if news.document | length %}
                        {% set document = news.document.first() %}
                        .doc-cont.uk-text-center
                            i.far.fa-file.fa-3x.text-purple.nav-icon.uk-margin-small-right
                            a(href="{{ document.Url }}") {{document.title}}
                        |{% endif %}
                |{% endfor %}
|{% endblock %}
