templates/login.html
{% extends '_layout' %}
{% block content %}<div class="page-wrapper head-pad-big single-pad push-footer"><div class="gallery-prev contact-cont"><h1 class="page-title-pad uk-text-center">Login</h1><form method="post" accept-charset="UTF-8" class="contact-form">{{ csrfInput() }}<input type="hidden" name="action" value="users/login"/><h3><label for="loginName">Username or email</label></h3><input id="loginName" type="text" name="loginName" value="{{ craft.app.user.rememberedUsername }}"/><h3><label for="password">Password</label></h3><input id="password" type="password" name="password"/><input type="submit" value="Login" class="btn purple-bg btn-right btn-small"/>    {% if errorMessage is defined %}<p>{{ errorMessage }}</p>    {% endif %}</form><p><a href="{{ url('forgotpassword') }}">Forget your password?</a></p></div></div>{% endblock %}

templates/login.jade
| {% extends '_layout' %}
| {% block content %}


.page-wrapper.head-pad-big.single-pad.push-footer
    .gallery-prev.contact-cont
        h1.page-title-pad.uk-text-center Login

        form.contact-form(method='post', accept-charset='UTF-8')
            | {{ csrfInput() }}
            input(type='hidden', name='action', value='users/login')
            h3
                label(for='loginName') Username or email
            input#loginName(type='text', name='loginName', value='{{ craft.app.user.rememberedUsername }}')
            h3
                label(for='password') Password
            input#password(type='password', name='password')

            input.btn.purple-bg.btn-right.btn-small(type='submit', value='Login')
            |     {% if errorMessage is defined %}
            p {{ errorMessage }}
            |     {% endif %}
        p
            a(href="{{ url('forgotpassword') }}") Forget your password?


| {% endblock %}
